<div class="scrollable-content">
    <div class="row" ng-controller="MainSiteController">
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="AirtelMoneyMarketCtrl" ng-style='getColor(0)'>
                <div class="panel-heading">Airtel Money Market</div>
                <div class="panel-body">{{colorCode(0)}}</div>
            </div>
        </div><!--end of Col-MD-4-->
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="ApiRancardMobilityCtrl" ng-style='getColor(1)'>
                <div class="panel-heading">Api Rancard Mobility</div>
                <div class="panel-body">{{colorCode(1)}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="ShopWithRendezvousCtrl" ng-style='getColor(2)'>
                <div class="panel-heading">Shop With Rendezvous</div>
                <div class="panel-body">{{colorCode(2)}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="MyRancardMobilityCtrl" ng-style='getColor(3)'>
                <div class="panel-heading">My Rancard Mobility</div>
                <div class="panel-body">{{colorCode(3)}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="RendezvousCtrl" ng-style='getColor(4)'>
                <div class="panel-heading">Rendezvous</div>
                <div class="panel-body">{{colorCode(4)}}</div>
            </div>
        </div><!--end of Col-MD-4-->
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="VodafoneLiveCtrl" ng-style='getColor(5)'>
                <div class="panel-heading">Vodafone Live</div>
                <div class="panel-body">{{colorCode(5)}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="BooksNgAirtelLiveCtrl" ng-style='getColor(6)'>
                <div class="panel-heading">Books Ng Airtel Live</div>
                <div class="panel-body">{{colorCode(6)}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="TicketsNgAirtelLiveCtrl" ng-style='getColor(7)'>
                <div class="panel-heading">Tickets Ng Airtel Live</div>
                <div class="panel-body">{{colorCode(7)}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="MyRancardCtrl" ng-style='getColor(8)'>
                <div class="panel-heading">My Rancard</div>
                <div class="panel-body">{{colorCode(8)}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="ContentClassificationBBCCtrl" ng-style='getColor(9)'>
                <div class="panel-heading">Content Classification BBC</div>
                <div class="panel-body">{{colorCode(9)}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="MMarathonRancardMobilityCtrl" ng-style='getColor(10)'>
                <div class="panel-heading">M Marathon Rancard Mobility</div>
                <div class="panel-body">{{colorCode(10)}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default"ng-controller="MMarathonAdminCtrl" ng-style='getColor(11)'>
                <div class="panel-heading">M Marathon Admin</div>
                <div class="panel-body">{{colorCode(11)}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="GraphDBCtrl" ng-style='getColor(12)'>
                <div class="panel-heading">Graph DB</div>
                <div class="panel-body">{{colorCode(12)}}</div>
            </div>
        </div>
        <div class="col-md-6 col-sm-5 col-xs-12">
            <div class="panel panel-default" ng-controller="MyJoyOnlineCtrl" ng-style='getColor(13)'>
                <div class="panel-heading">My Joy Online</div>
                <div class="panel-body">{{colorCode(13)}}</div>
            </div>
        </div>
    </div>
</div>
